@import '../../../styles/variables.scss';

.root {
  padding: 8px 10px;
  cursor:pointer;
  background-color: $color-oxford-blue;

  &.active {
    cursor: default;
    background-color: lighten($color-oxford-blue, 20%);
  }
}
