@import '../../styles/variables.scss';

.root {
  display: flex;
  padding: 20px 10px;
  margin: 0 auto;

  @media (max-width: $mobile-breakpoint) {
    display: block;
  }
}

.navbar {
  width: 200px;

  @media (max-width: $mobile-breakpoint) {
    width: 100%;
  }
}

.games {
  margin-left: 30px;
  width: 100%;

  @media (max-width: $mobile-breakpoint) {
    margin-left: 0;
  }
}
